@import 'src/assets/constants/colors.scss';

.container {
    padding: 1rem;
    width: 18rem;

    display: flex;
    flex-direction: row;
    .spinner { }

    .character-card {
        margin: 3px;
        background-color: $card-background;
     }
}