@import 'src/assets/constants/colors.scss';

.movie-header {
    display: flex;
    flex-direction: column;
    
    .movie-title { }
    .movie-director {
        color: $gray-font;
        font-size: 16px;
        margin-bottom: 7px;
    }
    .movie-date { }
}