@import 'src/assets/constants/colors.scss';

.movie-header {

    .movie-title {

    }
    .movie-director {
        color: $gray-font;
        font-size: 16px;
        margin-bottom: 7px;
    }
    .movie-date {

    }
}