@import 'src/assets/constants/colors.scss';

.container {
    margin: 1em;
    display: flex;
    flex-direction: column;


    align-items: center;
    align-content: center;
    justify-content: center;
    .main-title {
        font-size: 32px;
    }
    .main-text {
        padding: 1em 0 3em 0;
        text-align: center;
        font-size: 20px;
        max-width: 25rem;
    }
    .button-container {
        display: flex;
        flex-direction: column;
    }
    .nav-button {
        color: $elmar-wars-logo-yellow;
        background-color: $elmar-wars-logo-black;
        font-size: 16px;
        width: 6rem;
        height: 3rem;
    }

}