
$card-background: #f2f3f2;

$elmar-wars-logo-yellow: #FFE81F;
$elmar-wars-logo-black: rgb(0, 0, 0, 0.87);

$black-font: rgb(0, 0, 0, 0.87);
$gray-font: rgb(0, 0, 0, 0.66);
$whiteish-font:  rgb(0, 0, 0, 0.44);